[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
fastapi = "*"
uvicorn = "*"
click = "*"
boto3 = "*"
beautifulsoup4 = "*"
gffutils = "*"
requests = "*"
"biocommons.seqrepo" = "*"
"ga4gh.vrs" = {version = "==0.7.0rc3", extras = ["extras"]}
uvloop = "*"
websockets = "*"
httptools = "*"
typing-extensions = "*"
"ga4gh.vrsatile.pydantic" = ">=0.0.3"
jsonschema = ">=2.3, <4.0"

[dev-packages]
gene = {editable = true, path = "."}
pytest = "*"
pre-commit = "*"
flake8 = "*"
flake8-docstrings = "*"
coverage = "*"
coveralls = "*"
pytest-cov = "*"
jupyterlab = "*"
mock = "*"
