[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
twine = "*"
fastapi = "*"
uvicorn = "*"
click = "*"
civicpy = "*"
boto3 = "*"
beautifulsoup4 = "*"
gffutils = "*"
requests = "*"
"biocommons.seqrepo" = "*"
seqrepo = "*"
"ga4gh.vrs" = "==0.6.3rc0"
uvloop = "*"
websockets = "*"
httptools = "*"
typing-extensions = "*"

[dev-packages]
gene = {editable = true, path = "."}
pytest = "*"
pre-commit = "*"
flake8 = "*"
flake8-docstrings = "*"
coverage = "*"
coveralls = "*"
pytest-cov = "*"
jupyterlab = "*"

[requires]
python_version = "3.8"
