name: Tests
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        db_url: ["http://localhost:8000", "postgres://postgres:postgres@localhost:5432/gene_normalizer_test"]
        python-version: ["3.11", "3.12", "3.13"]
    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_USER: 'postgres'
          POSTGRES_DB: 'gene_normalizer_test'
          POSTGRES_PASSWORD: 'postgres'
        ports:
          - 5432:5432
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.DUMMY_AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.DUMMY_AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-east-2
      AWS_DEFAULT_OUTPUT: text
      GENE_NORM_DB_URL: ${{ matrix.db_url }}
      GENE_NORM_TEST: true
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install DynamoDB dependencies
        if: ${{ env.GENE_NORM_DB_URL == 'http://localhost:8000' }}
        run: uv sync --extra etl --extra tests

      - name: Install PG dependencies
        if: ${{ env.GENE_NORM_DB_URL != 'http://localhost:8000' }}
        run: uv sync --extra pg --extra etl --extra tests

      - name: Build local DynamoDB
        if: ${{ env.GENE_NORM_DB_URL == 'http://localhost:8000' }}
        run: |
          chmod +x ./tests/unit/dynamodb_build.bash
          ./tests/unit/dynamodb_build.bash

      - name: Run tests
        run: uv run pytest

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --extra dev

      - name: Check style
        run: uv run ruff check && uv run ruff format --check

  precommit_hooks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: j178/prek-action@v1
        with:
          extra_args: '--all-files --skip "ruff-format" --skip "ruff-check"'

  docs:
    runs-on: ubuntu-latest
    env:
      SPHINX_GITHUB_CHANGELOG_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --extra docs --extra pg --extra etl

      - name: Attempt docs build
        working-directory: ./docs
        run: source ../.venv/bin/activate && make html
